<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Duck Attack</title>
	</head>
	<body>
		<canvas id="canvas" width=1300 height=500>
          <b><h1><div style="color:red">Text that you see if you don't support Canvas :(</div></b></h1>
        </canvas>
        <script>alert("Play game")</script>

        <script src="/library/jquery.min.js"></script>

        <script src="/library/box2dweb.js"></script>
        <script type="text/javascript" src="/library/class.js"></script>
        <script src="/library/duck.js"></script><br>
        <audio controls>
        <source src="music/ApA.mp3" type="audio/mpeg">
        Your browser does not support this audio format.
        </audio>
        
        <big><div style="color:purple">Your screen need to out of 1300 * 500<br></big></div><form action="MAILTO:panmpan@gmail.com">

        <button>Send Email To Me</button><form>
	</body>
</html>